In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sqlite3 as lite

In [2]:
# Function to get table names from database
def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

In [3]:
# Get table names from database
conn = lite.connect('../unos.db')
tables = tables_in_sqlite_db(conn)
print(tables)

[]

In [4]:
# QUERY database to create dataframe
query = f"SELECT * FROM (SELECT *, strftime('%Y', {'TX_DATE'}) as Year FROM {'kidpan_data'}) data WHERE Year = '2010'"

df_10 = pd.read_sql_query(query,conn)

DatabaseError: Execution failed on sql 'SELECT * FROM (SELECT *, strftime('%Y', TX_DATE) as Year FROM kidpan_data) data WHERE Year = '2010'': no such table: kidpan_data

In [ ]:
df_10.shape

In [ ]:
# From data dictionary: 
#CONTIN_IV_DRUG_OLD_DON = DECEASED DONOR-HISTORY OF IV DRUG USE+RECENT 6MO USE VAR START DATE = 4/1/94
# HBA1C_PA_TCR = HBA1C AT LISTING (PA KP ONLY) -- VAR START DATE: 2/28/18
# FREE_DON = LIVING DONOR-FREE CARE AS SECONDARY PAYMENT TYPE -- VAR START DATE: 10/25/99
# DONATION_DON = LIVING DONOR-DONATION AS SECONDARY PAYMENT TYPE -- VAR START DATE: 10/25/99
# SELF_DON = LIVING DONOR-SELF AS SECONDARY PAYMENT TYPE -- VAR START DATE: 10/25/99 VAR END 1/1/07
df_10.isnull().sum().sort_values(ascending = False)

In [ ]:
# Drop columns in which all values are null (482 --> 431 Features)
df_10.dropna(axis = 1, how = 'all', inplace = True) 
df_10.shape

In [ ]:
df_10.isnull().sum().sort_values(ascending=False)

In [ ]:
df_10.shape


#### Run a dynamic sql queery giving me the percentage of nulls per each column in a table.

In [ ]:
# Kidpan Data
columns = list(df_10)
kidpan_nulls = pd.DataFrame()

for col in columns:
    
    query = f"""SELECT \'{col}\' as column, 1-CAST(COUNT("{col}") as float)/CAST(COUNT(*) as float) as percent_null FROM kidpan_data;"""
    tmp_table = pd.read_sql_query(query, conn)
    kidpan_nulls = pd.concat([kidpan_nulls, tmp_table])

In [ ]:
kidpan_nulls.to_csv('../data/kidpan_nulls.csv', index = False)

In [ ]:
kidpan_nulls = pd.read_csv('../data/kidpan_nulls.csv')
kidpan_nulls.head()

In [ ]:
kidpan_nulls.set_index('column', inplace = True)
kidpan_nulls.head()

In [ ]:
pd.set_option('display.max_rows', 450)
kidpan_nulls['percent_null'].sort_values(ascending = False)

In [ ]:
# Kidney Followup Data
kid_followup_nulls = pd.DataFrame()

for col in columns:
    
    query = f"""SELECT \'{col}\' as column, 1-CAST(COUNT("{col}") as float)/CAST(COUNT(*) as float) as percent_null FROM kidney_followup_data;"""
    tmp_table = pd.read_sql_query(query, conn)
    print(f"{col}")
    kid_followup_nulls = pd.concat([kid_followup_nulls, tmp_table])

In [ ]:
# Deceased Donor Data
dec_donor_nulls = pd.DataFrame()

for col in columns:
    
    query = f"""SELECT \'{col}\' as column, 1-CAST(COUNT("{col}") as float)/CAST(COUNT(*) as float) as percent_null FROM deceased_donor_data;"""
    tmp_table = pd.read_sql_query(query, conn)
    print(f"{col}")
    dec_donor_nulls = pd.concat([dec_donor_nulls, tmp_table])

In [ ]:
# Kidpan Followup Data